{% extends "base.html" %}

{% block content %}


	

<p>
Are you a newcomer to King City, or a long-time resident looking for
companionship, fun and different activiites with friends? The the
King City Seniors Centre has a lot to offer you.
</p><br/>
<p>
The King City Senior Centre is a recreation club for seniors. Activities include Euchre (every other Friday), Bid Euchre every Tuesday, Carpet Bowling, Shuffleboard, 5 Pin Bowling, Badminton, Art Classes, Fitness Classes, Computer Classes, Monthly Pot Luck and Movie, Annual BBQ Supper, Travel Club (featuring one day trips and outings), Speakers, Special Guests, Walking Club, Bingo, etc.


<p><br/>
<p>
We're located at:<br>
30 Fisher St King City, ON L7B 1G3<br>
(905) 833-2824
</p><br/>
	
{% endblock %}