<!doctype html>
<html lang="en">
<head>
	<title>King City Seniors Centre</title>
	<meta charset="utf-8">
	<meta name="description" content="King City Senior Centre is a recreation club for seniors. 30 Fisher St King City (905) 833-2824" />
	<script type='text/javascript' src='css/kcsc.js'></script>
	<link rel="stylesheet" href="css/kcsc.css">
	
</head>
	
	<body>
		<a href="/" style="text-decoration: none;"><h1>King City Seniors Centre</h1></a>

		
		
		
		{% block content %}
		{% endblock %}
	</body>
	
</html>