{% extends "base.html" %}

{% block content %}

{{topbar | safe}}


<br>

<ul id="navbar">
	<li><a href="/about">ABOUT</a></li>
	<li><a href="programs.html">PROGRAMS</a></li>
	<li><a href="travelclub.html">TRAVEL CLUB</a></li>
	<li><a href="tech.html">tech</a></li>
	<li><a href="contact.html">Contact</a></li>
</ul>



<div class="container">
<div class="sidebar">
<ul id="weekdays">
	<ul id = "monday" class="day" onclick="toggleMon(this)">
		<li>Mondays</li>
		<li>9:30 Keep Fit & Exercise Class</li>
		<li>7:30 Badminton @ KC P.S.</li>
	</ul>
	<ul id = "tuesday" class="day" onclick="toggleTues(this)">
		<li><h4>TUESDAYS</h4></li>
		<li>10:00 Bowling @ Pro Bowl Lanes, Richmond Hill</li>
		<li>1:00 Bid Euchre</li>
	</ul>
	<ul id = "wednesday" class="day">
		<li><h4>WEDNESDAYS</h4></li>
		<li>2:00 Shuffleboard</li>
	</ul>
	<ul id='thursday' class='day'>
		<li><h4>THURSDAYS</h4></li>
		<li>9:30 Gentle Motion</li>
		<li>9:30 Art Class (coming soon)</li>
		<li>1:00 Computer Class @ K.C. library</li>
		<li>1:30 Carpet Bowling</li>
	</ul>
	<ul id='friday' class='day'>
		<li><h4>FRIDAYS</h4></li>
		<li>7:00pm Euchre on</li>
		<li>alternate weeks</li>
	</ul>
</ul>
</div>

<div class="eventList">

<h2>UPCOMING EVENTS</h2>
{% for event in eventlist %}
<div class="odd">
<h2>{{event.date.strftime('%A, %b %d')}}</h2>
<h3>{{event.title | safe}}</h3>
<p>{{event.content | safe}}
</p>
</div>
{% endfor %}

</div>
</div>
</div>


		
		
		
		
{% endblock %}
