{% extends "base.html" %}

{% block content %}


	
<h2>Our Newsletter is published quarterly</h2>
<h3>Click to view our current and past issues</h3>
<ul id="nlList">
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYRXF1anNmSkVybWhzN2Zpa2s4MjdncVNEbkNV/view?usp=sharing" target="_blank">Spring 2016</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYS1lsQzVtLWVoM0phcU5jNHNGQW9XbFZyMXpr/view?usp=sharing" target="_blank">Winter 2015</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYVENzT1Z4alRoYm5BU2k0Q1JBZXdPT2g5VUtZ/view?usp=sharing" target="_blank">Fall 2015</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYdzdreHVrM01SZ1VKMmxncTZ3bGF0SWVEVndv/view?usp=sharing" target="_blank">Summer 2015</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYMTUtaGtLbGJkQ0k/view?usp=sharing target="_blank">Spring 2015</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYZnZnQjctUUNHNGZpeTVnU01Kak0zcUNDZ3dZ/view?usp=sharing" target="_blank">Winter 2014</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYdVdMLS13Snl3QmM/view?usp=sharing" target="_blank">Fall 2014</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYSWJqdjItbnpfbFU/edit?usp=sharing" target="_blank">Summer 2014</a></li>
	<li><a href="https://drive.google.com/file/d/0Bz3-0519GseYRGlqUGJHOXhqM1E/edit?usp=sharing" target="_blank">Spring 2014</a></li>
</ul>


{% endblock %}